
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dce6dc;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dce6dc; /* Change as needed */
    padding: 10px 20px;
}

.navbar-logo img {
    margin: 20px;
    height: 35px; /* Adjust as needed */
}

.navbar-links {
    margin-right: 20px;
    display: flex;
    gap: 20px; /* Space between links */
}

.navbar-links a {
    color: #194d33; /* Change as needed */
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #488048; /* Change as needed */
    border-radius: 10px;
    color: rgb(250, 249, 249); 
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rimg img{
    height: 650px;
    
}
.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.thin-border-button {
    padding: 10px 20px;
    border: 0.5px solid #194d33; /* Thin border color */
    background-color: transparent; /* Transparent background */
    color: #194d33; /* Text color */
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    text-align: center;
}
.greenbutton{
    background-color: #194d33;
    color: white;
}
.thin-border-button:hover {
    background-color: #FF671F; /* Hover background color */
    color: white; /* Hover text color */
}

.ltext{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
}
.ltext .s{
    font-size: 15px;
    color: #194d33;
}
.ltext .h{
    font-size: 50px;
    color: #194d33;
    font-weight: bold;
}
.ltext .h p1{
    color: #FF671F;
}
.ltext .h p2{
    color: #FFFFFF;
}
.ltext .r{
    font-size: 15px;
    font-weight: bold;
}
.ltext .e{
    font-size: 15px;
    color: #38423d;
    font-weight: lighter;
    
}

.rimg{
    padding: 20px;
    margin-right: 10px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}
.second .stext1{
    font-size: 15px;
    color: #194d33;
    font-weight: lighter;

}
.second .stext2{
    font-size: 45px;
    color: #194d33;
    font-weight: bold;
}

.second .simg img{
    height: 700px;
}
.third {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.third .stext1{
    font-size: 45px;
    color: #194d33;
    font-weight: bold;
    margin: 20px;
    margin-top: 100px;
}
.third .stext2 {
    width: 1000px;
    font-size: 15px;
    color: black;
    font-weight: lighter;
    text-align: center;
}
.third .boxes {
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.third .boxes img{
    height: 200px;
}
.third .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 300px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
.third .boxes .box:hover {
    transform: scale(1.1); /* Magnify by 20% */
}
.third .boxes .box .btext1 {
    padding-left: 20px;
    font-size: 20px;
    color: #194d33;
    font-weight: bold;
}
.third .boxes .box .btext2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    font-size: 13px;
    color: black;
    font-weight: lighter;
    text-align: justify;
}
.fourth{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.fourth .stext1{
    font-size: 45px;
    color: #194d33;
    font-weight: bold;
    margin: 20px;
    margin-top: 100px;
}
.fourth .stext2 {
    font-size: 15px;
    color: black;
    font-weight: lighter;
    text-align: center;
}
.fourth .boxes{
    margin: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fourth .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 700px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}
.fourth .boxes .box:hover {
    transform: scale(1.1); /* Magnify by 20% */
}
.fourth .boxes .box .ftext1{
    font-size: 40px;
    color: #194d33;
    font-weight: bold;
}
.fourth .boxes .box .ftext2{
    font-size: 15px;
}
.border-line {
    border-bottom: 3px solid black;  /* Set the thickness and color of the line */
    width: 20%;  /* Set the width of the line */
}
.border-line2 {
    border-bottom: 2px solid black;  /* Set the thickness and color of the line */
    width: 60%;  /* Set the width of the line */
}
.fourth .boxes .box .ftext4{
    width: 80%;
    font-size: 15px;
    color: #194d33;
    text-align: center;
}
.fourth .boxes .box .services{
    width: 80%;
    font-size: 20px;
    color: #194d33;
    list-style-type: square;
    
}
.fourth .boxes .box ul li {
    margin-bottom: 20px;  /* Increase the margin bottom to create more gap */
}
.fifth .stext1 {
    font-size: 45px;
    color: #194d33;
    font-weight: bold;
    margin: 20px;
    margin-top: 100px;
    text-align: center;
}

/* FAQ PART */
.faq-container {
    width: 80%;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    cursor: pointer;
    color: #194d33;
    transition: transform 0.3s ease-in-out;
}
.faq-item:hover {
    transform: scale(1.1); /* Magnify by 20% */
}
.faq-question {
    width: 100%;
    padding: 15px;
    background-color: #f7f7f7;
    color: #194d33;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    position: relative;  /* Add relative positioning for the arrow */
}

.faq-question::after {
    content: "\25BC";  /* Unicode character for a down arrow */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.faq-question.active {
    background-color: #e2e2e2;
}

.faq-question.active::after {
    transform: translateY(-50%) rotate(180deg);  /* Rotate the arrow */
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.faq-answer p {
    margin: 0;
    font-size: 14px;
}

/* FOOTER PART */
.footer {
    height: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #194d33; /* Change to your desired color */
    color: #fff;
    padding: 20px 0;
}

.footer-section {
    text-align: center;
    flex: 1;
}

.footer-section h3 {
    
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ccc;
}

.logo {
    max-width: 200px; /* Adjust as needed */
    margin-bottom: 10px;
}













@media (max-width: 800px){
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #dce6dc;
        box-sizing: border-box;
    }
    .navbar{
        width: 100%;
        padding: 5px 0px;
    }
    .navbar-links{
        display: none;
    }
    .navbar-logo img {
        height: 25px; /* Adjust as needed */
    }
    .main{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 1000px;
        
    }
    .rimg img {
        height: 330px;
    }
    .button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px; /* Space between buttons */
    }
    .thin-border-button {
        padding: 9px 9px;
        width: 40.2%;
        font-size: 13px;
    }
    .greenbutton{
        width: 90%;
        padding: 10px;
    }
    
    .ltext{
        height: 500px;
        flex-direction: column;
        margin-left: 15px;
    }
    .ltext .s{
        font-size: 15px;
        color: #194d33;
        margin-top: 15px;
    }
    .ltext .h{
        width: 100%;
        font-weight: bold;
        font-size: 40px;
        margin-top: 15px;
    }
    .ltext .r{
        margin-top: 20px;
        font-size: 15px;
        width: 95%;
        text-align: justify;
    }
    .ltext .e{
        margin-top: 15px;
        margin-bottom: 20px;    
    }
    .second {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    }
    .second .stext1{
        font-size: 13px;
    }
    .second .stext2{
        font-size: 35px;
    }
    .second .simg img{
        height: 300px;
    }
    .sbutton{
        width: 100%;
    }
    .third {
        width: 100%;

    }
    .third .stext1{
        font-size: 35px;
        text-align: center;
        margin-top: 50px;
    }
    .third .stext2 {
        width:80%;
        font-size: 12px;
    }
    .third .boxes {
        margin: 20px;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
    }
    .third .boxes img{
        height: 140px;
        padding: 10px;
    }
    .third .boxes .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 48%;
        
        box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
        border-radius: 20px;
    
    }
    .third .boxes .box:hover {
        transform: none; /* Magnify by 20% */
    }
    .third .boxes .box .btext1 {
        font-size: 16px;
        color: #194d33;
        font-weight: bold;
        padding-left: none;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .third .boxes .box .btext2 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: none;
        font-size: 12px;
    }
    .fourth{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        
    }
    .fourth .stext1{
        font-size: 35px;
        margin-top: 50px;
    }
    .fourth .stext2 {
        font-size: 13px;
    }
    .fourth .boxes{
        margin: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .fourth .boxes .box{
        display: flex;
        margin: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 600px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
        border-radius: 20px;
        background-color: white;
        transition: transform 0.3s ease-in-out;
    }
    .fourth .boxes .box:hover {
        transform: none; /* Magnify by 20% */
    }
    .fourth .boxes .box .ftext1{
        font-size: 30px;
        color: #194d33;
        font-weight: bold;
    }
    .fourth .boxes .box .ftext2{
        font-size: 15px;
    }
    .border-line {
        border-bottom: 3px solid black;  /* Set the thickness and color of the line */
        width: 20%;  /* Set the width of the line */
    }
    .border-line2 {
        border-bottom: 2px solid black;  /* Set the thickness and color of the line */
        width: 60%;  /* Set the width of the line */
    }
    .fourth .boxes .box .ftext4{
        width: 80%;
        font-size: 15px;
        color: #194d33;
        text-align: center;
    }
    .fourth .boxes .box .services{
        width: 80%;
        font-size: 18px;
        color: #194d33;
        list-style-type: square;
        
    }
    .fourth .boxes .box ul li {
        margin-bottom: 20px;  /* Increase the margin bottom to create more gap */
        font-size: 16px;
    }
    .fifth{
        width: 100%;
    }
    .fifth .stext1 {
        font-size: 35px;
        margin-top:10px;
    }
    .faq-container {
        width: 90%;
    }

    .footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-section:last-child {
        margin-bottom: 0;
    }

    .logo {
        max-width: 100px; /* Adjust as needed */
        margin-bottom: 20px;
    }
}
.hidden {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}









